@import "tailwindcss";

@font-face {
	font-family: "Fragment Mono";
	src: url("/fonts/FragmentMono-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Fragment Mono Italic";
	src: url("/fonts/FragmentMono-Italic.woff2") format("woff2");
}

@theme {
	--color-gray: hsl(0, 0%, 80%);
	--color-gray-50: hsl(0, 0%, 90%);

	--font-sans: "Fragment Mono", monospace;
	--font-mono: "Fragment Mono", monospace;
	--font-italic: "Fragment Mono Italic", monospace;
}

@layer base {
	:root {
		--tp-base-font-family: var(--font-sans);
		--tp-blade-value-width: 16rem;
		--tp-base-shadow-color: #0000;
		--tp-base-background-color: hsl(0, 0%, 10%);
	}

	button {
		text-transform: inherit;
		text-align: left;
		width: fit-content;
	}

	details > summary {
		list-style: none;
	}

	details > summary::-webkit-details-marker {
		display: none;
	}

	canvas {
		image-rendering: pixelated;
	}

	input[type="range"] {
		appearance: none;
		width: 100%;
		background: transparent;
	}

	input[type="range"]::-webkit-slider-thumb {
		appearance: none;
	}

	input:focus {
		outline: none;
	}

	input[type="range"]::-webkit-slider-thumb {
		appearance: none;
		height: 0.75rem;
		width: 0.5px;
		background: hsl(0, 0%, 0%);
		cursor: pointer;
		margin-top: 0rem;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		width: 100%;
		height: 0.75rem;
		cursor: pointer;
		background: var(--color-gray-50);
	}

	input[type="text"] {
		&:focus {
			outline: none;
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		appearance: textfield;
	}

	input[type="checkbox"] {
		margin-inline: 0.125rem;
		appearance: none;
		width: 0.5rem;
		height: 0.5rem;
		border: 0.5px solid var(--color-gray);
		background-color: hsl(0, 0%, 100%);
		cursor: pointer;
		margin-top: 0rem;
	}

	input[type="checkbox"]:checked {
		background-color: hsl(0, 0%, 0%);
	}
}

@utility bg-grid {
	background: repeating-conic-gradient(hsla(0, 0%, 0%, 0.9) 0 25%, hsla(0, 0%, 0%, 1) 0 50%) 50% /
		2rem 2rem;
}

@utility bg-white-grid {
	background: repeating-conic-gradient(hsla(0, 0%, 90%, 1) 0 25%, hsla(0, 0%, 100%, 1) 0 50%) 50% /
		2rem 2rem;
}

@utility clickable {
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 1px solid hsl(0, 100%, 50%);
	}

	&:hover {
		font-family: var(--font-italic);
	}

	&:hover:active {
		opacity: 0.7;
	}
}

@utility shadow-menu {
	background-color: hsl(0, 0%, 100%);
	box-shadow: 0 0 0 0.5px var(--color-gray);
}
