@import "tailwindcss";

@font-face {
	font-family: "Fragment Mono";
	src: url("../../public/fonts/FragmentMono-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Fragment Mono Italic";
	src: url("../../public/fonts/FragmentMono-Italic.woff2") format("woff2");
}

@theme {
	--color-gray: hsl(0, 0%, 80%);
	--color-gray-50: hsl(0, 0%, 90%);

	--font-sans: "Fragment Mono", monospace;
	--font-mono: "Fragment Mono", monospace;
	--font-italic: "Fragment Mono Italic", monospace;
}

@layer base {
	:root {
		--tp-base-font-family: var(--font-sans);
	}

	button {
		text-transform: inherit;
		text-align: left;
		width: fit-content;
	}
}

@utility bg-grid {
	background: repeating-conic-gradient(hsla(0, 0%, 0%, 0.9) 0 25%, hsla(0, 0%, 0%, 1) 0 50%) 50% /
		2rem 2rem;
}

@utility clickable {
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 1px solid hsl(0, 100%, 50%);
	}

	&:hover {
		font-family: var(--font-italic);
	}

	&:hover:active {
		opacity: 0.7;
	}
}
